html, body {
  height: 100%;
  margin: 0;
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

body {
  padding: 1rem 2rem;
  font-family: Futura, Josefin Sans, sans-serif, Helvetica;
  background-color: #EFEFEF;
}

.app-header {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #999;
}
.logo {
  height: 36px;
  margin-bottom: 5px;
}
