<app-hero>
  <img src="./assets/logo.svg" alt="logo">
  <h1>{ props.title }</h1>

  <style>
    :host {
      display: block;
      padding: 10em 0;
    }
    h1 {
      color: #032030;
    }
  </style>
</app-hero>
