<app-links>
  <ring each={ item in props.items } title={ item.title } url={ item.url } />

  <style>
    :host {
      display: block;
      padding: 3.5em 0;
      background: #EFEFEF;
    }
  </style>
</app-links>
