<app-hero>
  <h1>{ props.title }</h1>

  <style>
    :host {
      background-color: #3ebbd3;
      display: block;
      padding: 12em 0;
    }
    h1 {
      color: white;
    }
  </style>
</app-hero>
