<app-footer>
  <p>{ props.message } - { year }</p>

  <script>
    export default {
      year: (new Date()).getFullYear()
    }
  </script>

  <style>
    :host { display: block }
    p {
      font-size: 90%;
      margin: 30px 0 0 0;
      padding: 2.5em 2rem;
      color: #FFF;
      background: #032030;
    }
  </style>
</app-footer>
