<ring>
  <a href={ props.url }>{ props.title }</a>

  <style>
    :host {
      display: inline-block;
      font-size: 120%;
      height: 7em;
      line-height: 7em;
      margin: .5em;
      overflow: hidden;
      position: relative;
      width: 7em;
    }
    a {
      background: #1794A5;
      border-radius: 50%;
      color: white;
      display: block;
      height: 100%;
      text-decoration: none;
    }
    a:hover {
      opacity: .8;
    }
  </style>
</ring>
