<app>
  <Login if="{!state.isLoggedIn}" />

  <script>
    import Login from './pages/login.riot'

    export default {
      components: {
        Login
      },
      state: {
        isLoggedIn: false
      },
      onBeforeMount(props, state) {
        // any processing
      }
    }
  </script>
</app>
