<app>
  <div class="app-header">
    <img src="https://riot.js.org/img/logo/riot-logo.svg" alt="riot logo" class="logo">
  </div>
  <h1>{ props.title }</h1>

  <script>
    export default {
      onBeforeMount(props, state) {
        // any processing
      }
    }
  </script>
</app>
