<app-footer>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <p>© 2020 Admin CMS by @kuwahara_jsri</p>
    </div>
  </div>

  <style>
    .ui.vertical.footer.segment {
      padding: 0;
      background: #1794a5;
      color: #fff;
      border: none;
    }
    .ui.center.aligned.container p {
      padding: 1.2rem 0;
    }
  </style>
</app-footer>
