<logo>
  <div class="item sidebar-head">
    <a class="logo icon" href="/">
      <i class="user icon"></i>
    </a>
    <a href="/">
      ADMIN
    </a>
  </div>

  <style>
    :host .item.sidebar-head {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 0;
    }
    i.user.icon {
      font-size: 2rem;
    }
 </style>
</logo>
